{% extends 'database/layout.html' %}
{% load l10n %}
{% block title %}Анкетирование{% endblock %}

{% block body %}
<div class="add">
    <h1>Добавление нового анкетирования</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.pat }}
        <table>
            {% for el in compla %}
            <tr class="compl">
                <td>
                    {{ el.name }}
                </td>
                <td>
                    {{ form.option }}
                </td>
                <td>
                    <p>{{ Option.score }}</p>
                </td>
            </tr>
            {% endfor %}
        </table>
        <span>{{ error }}</span>
        <button class="btn btn-success" type="submit">Добавить анкетирование</button>
    </form>
</div>

<form method="post" id="optform" data-option-url="{% url 'ajax_load_option' %}" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit">Save</button>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_question").change(function () {
        var url = $("#optform").attr("data-option-url");  // get the url of the `load_cities` view
        var questId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
              'question': questId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#id_option").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });
    });
</script>

{% endblock %}

