{% extends 'amscapp/base.html' %}


{% block body %}
  {% if request.user.is_authenticated %}
  <div class="container">
      <h1>Анкета пациента</h1>
    <div>
      <table class="table">
        <tr>
          <th>Пациент</th>
          <th>Дата рождения</th>
          <th>Дата регистрации</th>
        </tr>
        <tr>
          <td>{{ patient }}</td>
          <td> {{ patient.date_of_birth }} <br> Возраст: {{ patient.calculate_age }} </br></td>
          <td>{{ patient.date_registration }}</td>
        </tr>
      </table>
    </div>

    <div class="row">
      <button class="btn btn-default" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Полная анкета пациента
      </button>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <div>
              <table class="table">
                <tr>
                  <th>Пол</th>
                  <th>Страховая организация</th>
                  <th>Страховое свидетельство</th>
                </tr>
                <tr>
                  <td>{{ patient.gender }}</td>
                  <td>{{ patient.insurance }}</td>
                  <td>{{ patient.policy }}</td>
                </tr>
                <tr>
                  <th>Домашний адрес</th>
                  <th>Номер телефона</th>
                  <th>Электронная почта</th>
                </tr>
                <tr>
                  <td>{{ patient.address }}</td>
                  <td>{{ patient.phone_number }}</td>
                  <td>{{ patient.email }}</td>
                </tr>
                <tr>
                  <th>ФИО родителя</th>
                  <th>Номер телефона родителя</th>
                  <th>Электронная почта родителя</th>
                </tr>
                <tr>
                  <td>{{ patient.parent_name }}</td>
                  <td>{{ patient.parent_phone_number }}</td>
                  <td>{{ patient.parent_email }}</td>
                </tr>
                <tr>
                  <th>Национальность</th>
                  <th>Национальность матери</th>
                  <th>Национальность отца</th>
                </tr>
                <tr>
                  <td>{{ patient.nation }}</td>
                  <td>{{ patient.mother_nation }}</td>
                  <td>{{ patient.father_nation }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      <a class="btn btn-warn" href="{% url 'edit_patient' pk=patient.pk %}">Редактировать пациента</a>
      <a class="btn btn-default" href="{% url 'make_answers' pk=patient.pk %}">{% if not answers %}Анкетировать{% else %}
        Изменить ответы{% endif %}</a>
    </div>

    <div class="row">
      {% if answers %}
          <h2>Анкетирование от: {{ date }} проведено: {{ doctor }}</h2>
        <table class="table">
          <tr>
            <th>Вопрос</th>
            <th>Ответ</th>
            <th>Кол-во баллов</th>
          </tr>
          {% for answer in answers %}
            <tr>
              <td>{{ answer.question }}</td>
              <td>{{ answer.option }}</td>
              {% if answer.option.score == 0 %}
              <td></td>
              {% else %}
              <td>{{ answer.option.score }}</td>
              {% endif %}
            </tr>
          {% endfor %}
          {% for tanswer in textanswers %}
            <tr>
              <td>{{ tanswer.question }}</td>
              <td>{{ tanswer.answer }}</td>
              <td></td>
            </tr>
          {% endfor%}
          <tr>
            {% if patient.gender == patient.GenderChoice.MAN %}
            <th>Пол: {{ patient.gender }} (+1 балл)</th>
            {% else %}
            <th>Пол: {{ patient.gender }} (+0 баллов)</th>
            {% endif %}
            <th>Итого:</th>
            <th>{{ total }}</th>
          </tr>
        </table>
      {% endif %}
    </div>
  </div>
  {% endif %}
{% endblock %}
