{% extends 'amscapp/base.html' %}


{% block body %}
  <div class="container">
      <h1>Анкета пациента</h1>
    <div>
      <table class="table">
        <tr>
          <th>Пациент</th>
          <th>Дата рождения</th>
          <th>Дата регистрации</th>
        </tr>
        <tr>
          <td>{{ patient }}</td>
          <td>{{ patient.date_of_birth }}</td>
          <td>{{ patient.date_registration }}</td>
        </tr>
      </table>
    </div>
    <h2>Анкетирование от: {{ patientanswer.date_of_the_survey }} {{ date }}</h2>
    <div class="row">
      {% if answers %}
        <table class="table">
          <tr>
            <th>Вопрос</th>
            <th>Ответ</th>
            <th>Кол-во баллов</th>
          </tr>
          {% for answer in answers %}
            <tr>
              <td>{{ answer.question }}</td>
              <td>{{ answer.option }}</td>
              <td>{{ answer.option.score }}</td>
            </tr>
          {% endfor %}
        </table>
        <p>Итого: {{ total }}</p>
      {% endif %}
    </div>
    <div class="row">
      <a class="btn btn-default" href="{% url 'make_answers' pk=patient.pk %}">{% if not answers %}Анкетировать{% else %}
        Изменить ответы{% endif %}</a>
    </div>
    <div class="row"><a class="btn btn-warn" href="{% url 'edit_patient' pk=patient.pk %}">Редактировать пациента</a>
    </div>
  </div>
{% endblock %}
